{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Cards{% endblock %}</h1>
<a class="action" href="{{ url_for('blog.addCard') }}">New Card</a>
{% endblock %} {% block content %} {% for card in cards %}
<article class="card">
  <header>
    <div>
      <h1>{{ card["title"] }}</h1>
      <div>
        <small> Made on {{ card["created"].strftime("%Y-%m-%d") }} </small>
      </div>
    </div>
    {% for task in tasks %} {% if task["pcard"] == card["id"] %}
    <p class="body">{{ task["body"] }}</p>
    <hr />
    {% endif %}{% endfor %}
  </header>
</article>
<a
  class="action"
  href="{{ url_for('blog.addTask', id=card['id']) }}"
  method="post"
  >Add Task</a
>
<br />
<br />
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
